		div	{
			/* border: solid 1px orange; */
		}
	    .card {
            height: 700px;
            border-radius: 15px !important;
            background-color: #0E1C35 !important;
        }

        .contacts_body {
            padding: 0.75rem 0 !important;
            overflow-y: auto;
            white-space: nowrap;
            background: #0E1C35;
        }

        .msg_card_body {
            overflow-y: auto;
            background: #0E1C35;
            border-radius: 15px;
        }

        .card-header {
            border-radius: 15px 15px 0 0 !important;
            border-bottom: 0 !important;
            background: #0E1C35;
        }

        .card-footer {
            border-radius: 0 0 15px 15px !important;
            border-top: 0 !important;
            background: #0E1C35;
        }

        .container {
            align-content: center;
        }

        .search {
            border-radius: 15px 0 0 15px !important;
            background-color: rgba(0, 0, 0, 0.3) !important;
            border: 0 !important;
            color: white !important;
        }

        .search:focus {
            box-shadow: none !important;
            outline: 0px !important;
        }

        .type_msg {
            background-color: rgba(0, 0, 0, 0.3) !important;
            border: 0 !important;
            color: white !important;
            height: 60px !important;
            overflow-y: auto;
        }

        .type_msg:focus {
            box-shadow: none !important;
            outline: 0px !important;
        }

        .attach_btn {
            border-radius: 15px 0 0 15px !important;
            background-color: rgba(0, 0, 0, 0.3) !important;
            border: 0 !important;
            color: white !important;
            cursor: pointer;
        }

        .send_btn {
            border-radius: 0 15px 15px 0 !important;
            background-color: rgba(0, 0, 0, 0.3) !important;
            border: 0 !important;
            color: white !important;
            cursor: pointer;
        }

        .search_btn {
            border-radius: 0 15px 15px 0 !important;
            background-color: rgba(0, 0, 0, 0.3) !important;
            border: 0 !important;
            color: white !important;
            cursor: pointer;
        }

        .contacts {
            list-style: none;
            padding: 0;
        }

        .contacts li {
            width: 100% !important;
            padding: 5px 10px;
            margin-bottom: 15px !important;
        }

        .active {
            background-color: #27292A;
        }

        .user_img {
            height: 60px;
            width: 60px;
            border: 1.5px solid #f5f6fa;
        }

        .img_cont {
            display: flex;
            align-items: center;
            position: relative;
            height: 70px;
            width: 70px;
        }

        .chat_product_img {
            border-radius: 5px;
            align-items: center;
            position: relative;
            height: 50px;
            width: 50px;
        } 

        .chat_product_info {
            margin-top: 10px;
            margin-bottom: auto;
            margin-left: 0px;
            overflow: hidden;
            white-space: nowrap;
        }

        .chat_product_info .title {
            font-size: 12px;
            color: white;
        }

        .chat_product_info .status {
            font-size: 12px;
            color: white;
            font-weight: bold;
            margin-right: 5px;
        }

        .chat_product_info p {
            font-size: 12px;
            color: rgba(255, 255, 255, 0.6);
        }

        .msg_cotainer {
            margin-top: auto;
            margin-bottom: auto;
            margin-left: 10px;
            border-radius: 25px;
            background-color: #014B85;
            color: white;
            padding: 10px;
            position: relative;
        }

        .msg_cotainer_send {
            margin-top: auto;
            margin-bottom: auto;
            margin-right: 10px;
            border-radius: 25px;
            background-color: #FFA700;
            color: white;
            padding: 10px;
            position: relative;
        }

        .msg_time {
            position: absolute;
            left: 0;
            margin-left: 10px;
            min-width: 100px;
            bottom: -15px;
            color: rgba(255, 255, 255, 0.5);
            font-size: 10px;
        }

        .msg_time_send {
            position: absolute;
            right: 0;
            margin-right: 10px;
            min-width: 100px;
            bottom: -15px;
            color: rgba(255, 255, 255, 0.5);
            font-size: 10px;
            text-align:end; 
        }

        .msg_head {
            position: relative;
            background: #1F2122;
        }

        /* width */

        ::-webkit-scrollbar {
            width: 10px;
        }


        /* Track */

        ::-webkit-scrollbar-track {
            background: #f1f1f1;
        }


        /* Handle */

        ::-webkit-scrollbar-thumb {
            background: #888;
        }


        /* Handle on hover */

        ::-webkit-scrollbar-thumb:hover {
            background: #555;
        }

        @media(max-width: 576px) {
            .contacts_card {
                margin-bottom: 15px !important;
            }
        }