<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.nextrip.modules.post.PostMapper">

    <resultMap id="resultMapObj" type="com.nextrip.modules.post.Post"></resultMap>
	
<!-- uploaded s -->

<select id="postListUploaded" resultMap="resultMapObj">
	SELECT 
		seq
		,type
		,defaultNy
		,sort
		,path
		,originalName
		,uuidName
	FROM postUploaded
	WHERE 1=1
		AND delNy = 0
		AND pseq = #{nxPostSeq}
	ORDER BY
		type, sort
</select>
<!-- uploaded e -->	
	
<select id="selectList" resultMap="resultMapObj">
	<include refid="Base.selectListUpperForMysql" />
	select
		a.nxPostSeq
		,a.memberSeq
		,a.region
		,a.postType
		,a.title
		,a.delNy
		,a.regDateTime
		,a.modDateTime
		,b.name as memberName
		,b.nickname as memberNickName
		<include refid="selectCommon" />
		ORDER BY nxPostSeq DESC
	<include refid="Base.selectListLowerForMysql" />

</select>	

<sql id ="selectCommon">
FROM nxPost a
JOIN member b on a.memberSeq = b.memberSeq
where 1=1
	<if test="shDelNy != null and !shDelNy.equals('')">AND a.delNy = #{shDelNy}</if>
	<if test="shPostType != null and !shPostType.equals('')">AND a.postType = #{shPostType}</if>
	<if test="shRegion != null and !shRegion.equals('')">AND a.region = #{shRegion}</if>
	<choose>
		<when test="shOption == 1">AND a.title LIKE CONCAT('%',#{shValue},'%')</when>
		<when test="shOption == 2">AND a.addressTitle LIKE CONCAT('%',#{shValue},'%')</when>
		<when test="shOption == 3">AND memberName LIKE CONCAT('%',#{shValue},'%')</when>
		<when test="shOption == 4">AND memberNickName LIKE CONCAT('%',#{shValue},'%')</when>
	</choose>
</sql>

<select id="selectListCount" resultType="Integer">
	select
		count(*)
	<include refid="selectCommon" />
</select>

<select id="selectOne" resultMap="resultMapObj">	

	select
		a.*
		,b.name as memberName
		,b.nickName as memberNickName
		,c.path
		,c.uuidName
	from nxPost a
	join member b on a.memberSeq = b.memberSeq
	left join postUploaded c on a.nxPostSeq = c.pSeq
	where 1=1
	and nxPostSeq = #{nxPostSeq}
	
</select>

	
<select id="postSelectList" resultMap="resultMapObj">
	<include refid="Base.selectListUpperForMysql" />
	select
		a.nxPostSeq
		,a.memberSeq
		,a.region
		,a.postType
		,a.addressTitle
		,a.title
		,a.regDateTime
		,b.nickName as memberNickName
	<include refid="userSelectCommon" />
	ORDER BY nxPostSeq DESC
	<include refid="Base.selectListLowerForMysql" />
	
</select>

<select id="postSelectListCount" resultType="Integer">
	select
		count(*)
	<include refid="userSelectCommon" />
</select>

<select id="postSelectOne" resultMap="resultMapObj">	

	select
		a.*
		,b.nickName as memberNickName
		,c.path
		,c.uuidName
	from nxPost a
	join member b on a.memberSeq = b.memberSeq
	left join postUploaded c on a.nxPostSeq = c.pSeq
	where 1=1
	and nxPostSeq = #{nxPostSeq}
	
</select>

<sql id ="userSelectCommon">
FROM nxPost a
JOIN member b on a.memberSeq = b.memberSeq
where 1=1
	and a.delNy = 0
	<if test="shPostType != null and !shPostType.equals('')">AND a.postType = #{shPostType}</if>
	<if test="shRegion != null and !shRegion.equals('')">AND a.region = #{shRegion}</if>
	<choose>
		<when test="shOption == 1">AND a.title LIKE CONCAT('%',#{shValue},'%')</when>
		<when test="shOption == 2">AND a.addressTitle LIKE CONCAT('%',#{shValue},'%')</when>
		<when test="shOption == 3">AND memberNickName LIKE CONCAT('%',#{shValue},'%')</when>
	</choose>
</sql>

<insert id="postInsert">
	INSERT INTO nxPost (
			memberSeq
			,region
			,postType
			,addressTitle
			,title
			,content
			,roadAddress
			,jibunAddress
			,lng
			,lat
			,delNy
		)
		VALUES (
			#{memberSeq}
			,#{region}
			,#{postType}
			,#{addressTitle}
			,#{title}
			,#{content}
			,#{roadAddress}
			,#{jibunAddress}
			,#{lng}
			,#{lat}
			,0
		)
		<selectKey resultType="String" keyProperty="nxPostSeq" order="AFTER">
			SELECT last_insert_id()
		</selectKey>
</insert>

<update id="postUpdate">
	UPDATE nxPost
		SET
		region = #{region}
		,postType = #{postType}
		,title = #{title}
		,content = #{content}
		,addressTitle = #{addressTitle}
		,roadAddress = #{roadAddress}
		,jibunAddress = #{jibunAddress}
		,lng = #{lng}
		,lat = #{lat}
	WHERE 1=1
		AND	nxPostSeq = #{nxPostSeq}
</update>

<update id="postUelete">
	UPDATE nxPost
	SET
		delNy = 1
	WHERE 1=1
		AND	nxPostSeq = #{nxPostSeq}
</update>

<delete id="postDelete">
	DELETE 
	FROM nxPost 
	WHERE 1=1 
		AND	nxPostSeq = #{nxPostSeq}

</delete>

<!-- 찬구 S -->
<select id="countMyPostList" resultType="Integer">
	SELECT
		COUNT(*)
	FROM nxPost a
	WHERE 1=1
		AND a.memberSeq=#{memberSeq}
</select>

<select id="selectMyPostList" resultMap="resultMapObj">
	<include refid="Base.selectListUpperForMysql" />
	select
		a.nxPostSeq
		,a.memberSeq
		,a.region
		,a.postType
		,a.title
		,a.delNy
		,a.regDateTime
		,a.modDateTime
		,b.name as memberName
		,b.nickname as memberNickName
		FROM nxPost a
		JOIN member b on a.memberSeq = b.memberSeq
		WHERE 1=1
			AND a.memberSeq=#{memberSeq}
			AND a.delNy = 0
			<if test="shPostType != null and !shPostType.equals('')">AND a.postType = #{shPostType}</if>
			<if test="shRegion != null and !shRegion.equals('')">AND a.region = #{shRegion}</if>
			<choose>
				<when test="shOption == 1">AND a.title LIKE CONCAT('%',#{shValue},'%')</when>
				<when test="shOption == 2">AND a.addressTitle LIKE CONCAT('%',#{shValue},'%')</when>
				<when test="shOption == 3">AND memberNickName LIKE CONCAT('%',#{shValue},'%')</when>
			</choose>
		ORDER BY nxPostSeq DESC
	<include refid="Base.selectListLowerForMysql" />
</select>

<!-- 찬구 E -->
	
</mapper>	