@charset "UTF-8";

	td{
		text-align:center;
		border:1px solid #0F52BA20;
	}
	th {
		background-color:#F7F8F9;
		height: 45px;
		text-align: center;
	}
	.table th {
		background-color: #f0f0f0;
		vertical-align: middle;
	}
	td > i {
		font-size: 40px;
	}
	td > span {
		display: block;
	}
	thead > tr:first-child > th:first-child {
		display: none;
	}
	tbody > tr > td:first-child {
		display: none;
	}
	
	
	.NB01 > img {
		background: url('/resources/image/weatherIcon.png') no-repeat -70px -2px;
		width: 54px;
		height: 54px;
	}
	.NB02 > img {
		background: url('/resources/image/weatherIcon.png') no-repeat 0 -72px;
		width: 57px;
		height: 50px;
	}
	.NB03 > img {
		background: url('/resources/image/weatherIcon.png') no-repeat -136px -6px;
		width: 57px;
		height: 50px;
	}
	.NB04 > img {
		background: url('/resources/image/weatherIcon.png') no-repeat 0 -145px;
		width: 57px;
		height: 50px;
	}
	.NB01_N > img {
		background: url('/resources/image/weatherIcon.png') no-repeat -209px -209px;
		width: 54px;
		height: 54px;
	}
	.NB02_N > img {
		background: url('/resources/image/weatherIcon.png') no-repeat -68px -73px;
		width: 57px;
		height: 50px;
	}
	.NB03_N > img {
		background: url('/resources/image/weatherIcon.png') no-repeat -137px -73px;
		width: 57px;
		height: 50px;
	}
	.NB04_N > img {
		background: url('/resources/image/weatherIcon.png') no-repeat 0 -145px;
		width: 57px;
		height: 50px;
	}
	.NB07 > img {
		background: url('/resources/image/weatherIcon.png') no-repeat -70px -140px;
		width: 54px;
		height: 54px;
	}
	.NB08 > img {
		background: url('/resources/image/weatherIcon.png') no-repeat -206px -3px;
		width: 57px;
		height: 50px;
	}
	.NB11 > img {
		background: url('/resources/image/weatherIcon.png') no-repeat -2px -206px;
		width: 57px;
		height: 50px;
	}
	.NB12 > img {
		background: url('/resources/image/weatherIcon.png') no-repeat -2px -275px;
		width: 57px;
		height: 50px;
	}
	.NB13 > img {
		background: url('/resources/image/weatherIcon.png') no-repeat -2px -275px;
		width: 54px;
		height: 54px;
	}
	.NB14 > img {
		background: url('/resources/image/weatherIcon.png') no-repeat -274px -68px;
		width: 57px;
		height: 50px;
	}
	.NB15 > img {
		background: url('/resources/image/weatherIcon.png') no-repeat -273px -11px;
		width: 57px;
		height: 50px;
	}
	.NB16 > img {
		background: url('/resources/image/weatherIcon.png') no-repeat -274px -216px;
		width: 57px;
		height: 50px;
	}
	.NB17 > img {
		background: url('/resources/image/weatherIcon.png') no-repeat -273px -11px;
		width: 54px;
		height: 54px;
	}
	.NB18 > img {
		background: url('/resources/image/weatherIcon.png') no-repeat -273px -11px;
		width: 57px;
		height: 50px;
	}
	.NB20 > img {
		background: url('/resources/image/weatherIcon.png') no-repeat -340px -72px;
		width: 57px;
		height: 50px;
	}
	.NB21 > img {
		background: url('/resources/image/weatherIcon.png') no-repeat -340px -140px;
		width: 57px;
		height: 50px;
	}
	.NB22 > img {
		background: url('/resources/image/weatherIcon.png') no-repeat -340px -72px;
		width: 57px;
		height: 50px;
	}
	.NB23 > img {
		background: url('/resources/image/weatherIcon.png') no-repeat -340px -140px;
		width: 57px;
		height: 50px;
	}