<!doctype html>
<html lang="ko">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>HTML 작업 계획안</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>

	<div class="mb-3" id="list_box">
	   	<table class="table table-striped table-hover">
	   		<tr id="list_box_th">
				<th>#</th>
				<th>페이지 명칭</th>
				<th>페이지 주소</th>
				<th>페이지내 필요기능</th>
				<th>HTML 작성자</th>
	   		</tr>
	   		<tr onclick="location.href='./html/user/main.html'" style="cursor: pointer;">
	   			<td>1</td>
	   			<td>메인 화면</td>
	   			<td>/nextrip</td>
	   			<td>(조회수 높은 글 3~개로부터 가져온) 사진 슬라이드, SVG 파일을 통한 링크</td>
	   			<td>휘재님</td>
	   		</tr>
	   		<tr onclick="location.href='./html/user/login.html'" style="cursor: pointer;">
	   			<td>2</td>
	   			<td>로그인 화면</td>
	   			<td>/nextrip/login</td>
	   			<td>타 사이트 연동 로그인, 비밀번호 재설정, 로그인 프로세스</td>
	   			<td>찬구님</td>
	   		</tr>
	   		<tr onclick="location.href='./html/user/memberRegistration.html'" style="cursor: pointer;">
	   			<td>3</td>
	   			<td>회원가입 화면</td>
	   			<td>/nextrip/memberRegistration</td>
	   			<td>회원가입 프로세스</td>
	   			<td>찬구님</td>
	   		</tr>
	   		<tr onclick="location.href='./html/user/mypage/mypage.html'" style="cursor: pointer;">
	   			<td>4</td>
	   			<td>마이페이지 화면</td>
	   			<td>/nextrip/mypage</td>
	   			<td>로그인한 계정에 한해 접속가능</td>
	   			<td>찬구님</td>
	   		</tr>
	   		<tr onclick="location.href='./html/user/mypage/mypageChat.html'" style="cursor: pointer;">
	   			<td>5</td>
	   			<td>채팅 화면</td>
	   			<td>/nextrip/mypage/chat</td>
	   			<td>채팅</td>
	   			<td>찬구님</td>
	   		</tr>
	   		<tr onclick="location.href='./html/user/mypage/mypageMemberModification.html'" style="cursor: pointer;">
	   			<td>6</td>
	   			<td>회원정보 수정 화면</td>
	   			<td>/nextrip/mypage/memberModification</td>
	   			<td>회원정보 Updt, 회원정보 velete</td>
	   			<td>찬구님</td>
	   		</tr>
	   		<tr onclick="location.href='./html/user/mypage/mypageReservationRecord.html'" style="cursor: pointer;">
	   			<td>7</td>
	   			<td>예약내역 화면</td>
	   			<td>/nextrip/mypage/reservationRecord</td>
	   			<td>조건부list, 예약 정상적 이행 후 후기 작성가능(해당 페이지 내에서)</td>
	   			<td>찬구님</td>
	   		</tr>
	   		<tr onclick="location.href='./html/user/mypage/mypageReservationView.html'" style="cursor: pointer;">
	   			<td>8</td>
	   			<td>예약내역 상세 화면</td>
	   			<td>/nextrip/mypage/reservationView</td>
	   			<td>예약내용 프린트,예약취소(?),위조방지(?)</td>
	   			<td>찬구님</td>
	   		</tr>
	   		<tr onclick="location.href='./html/user/mypage/mypagePostRecord.html'" style="cursor: pointer;">
	   			<td>9</td>
	   			<td>내가 쓴글 확인 화면</td>
	   			<td>/nextrip/mypage/postRecord</td>
	   			<td>조건부list, list목록에서 클릭시 view로 링크</td>
	   			<td>찬구님</td>
	   		</tr>
	   		<tr onclick="location.href='./html/user/region/region.html'" style="cursor: pointer;">
	   			<td>10</td>
	   			<td>지역 화면</td>
	   			<td>/nextrip/region</td>
	   			<td>CCTV API 끌어와 표기, 날씨 API 끌어와 표기하기, (글로부터 추출한) 사진 3장 슬라이드, 글로부터 사진을 추출할시 식별가능한 인물이 들어간 사진을 제외처리(딥러닝)</td>
	   			<td>진용님</td>
	   		</tr>
	   		<tr onclick="location.href='./html/user/region/accommodation/accommodationList.html'" style="cursor: pointer;">
	   			<td>11</td>
	   			<td>숙박 상품 화면</td>
	   			<td>/nextrip/region/accommodation/accommodationList</td>
	   			<td>숙소들 위치 지도 위에 마커로 표기, 지도 기능의 경우 굉장히 여러가지가 추가 될 수 있음</td>
	   			<td>진용님</td>
	   		</tr>
	   		<tr onclick="location.href='./html/user/region/accommodation/accommodationView.html'" style="cursor: pointer;">
	   			<td>12</td>
	   			<td>숙박 상품 상세 화면</td>
	   			<td>/nextrip/region/accommodation/accommodationView</td>
	   			<td>숙소 위치 지도 위에 표기, 선택한 숙소의 상품(방 종류), 예약조건(체크인, 체크아웃, 인원수)에 따른 가격 산출 및 결제진행페이지로 연결, 해당 숙소의 후기글목록</td>
	   			<td>진용님</td>
	   		</tr>
	   		<tr onclick="location.href='./html/user/region/accommodation/accommodationViewPurchase.html'" style="cursor: pointer;">
	   			<td>13</td>
	   			<td>결제페이지 화면</td>
	   			<td>/nextrip/region/accommodation/purchase</td>
	   			<td>결제수단(외부 연동), 동의여부 validation을 통한 약관 미동의 결제 통제</td>
	   			<td>진용님</td>
	   		</tr>
	   		<tr onclick="location.href='./html/user/region/post/postList.html'" style="cursor: pointer;">
	   			<td>14</td>
	   			<td>여행지 소개 화면</td>
	   			<td>/nextrip/region/postList</td>
	   			<td>검색기능, pagination</td>
	   			<td>휘재님</td>
	   		</tr>
	   		<tr onclick="location.href='./html/user/region/post/postView.html'" style="cursor: pointer;">
	   			<td>15</td>
	   			<td>여행지 소개 상세 화면</td>
	   			<td>/nextrip/region/postView</td>
	   			<td>해당 위치 지도 표기, 가는경로 탐색(외부링크 with 목적지 기입)</td>
	   			<td>휘재님</td>
	   		</tr>
	   		<tr onclick="location.href='./html/user/region/post/postInst.html'" style="cursor: pointer;">
	   			<td>16</td>
	   			<td>여행지 소개 등록 화면</td>
	   			<td>/nextrip/region/postInst</td>
	   			<td>사진 첨부파일,API 활용가능한 양식으로 주소 받기</td>
	   			<td>휘재님</td>
	   		</tr>
	   		<tr onclick="location.href='./html/user/region/post/postMdfy.html'" style="cursor: pointer;">
	   			<td>17</td>
	   			<td>여행지 소개 상세 수정 화면</td>
	   			<td>/nextrip/region/postMdfy</td>
	   			<td></td>
	   			<td>휘재님</td>
	   		</tr>
	   		<tr>
	   			<td colspan="5" style="text-align: center; font-weight: bold;">관리자 페이지</td>
	   		</tr>
	   		<tr>
	   			<td></td>
	   			<td></td>
	   			<td></td>
	   			<td></td>
	   			<td></td>
	   		</tr>
	   		<tr>
	   			<td></td>
	   			<td></td>
	   			<td></td>
	   			<td></td>
	   			<td></td>
	   		</tr>
	   		<tr>
	   			<td></td>
	   			<td></td>
	   			<td></td>
	   			<td></td>
	   			<td></td>
	   		</tr>
	   		<tr>
	   			<td></td>
	   			<td></td>
	   			<td></td>
	   			<td></td>
	   			<td></td>
	   		</tr>
	   	</table>
	</div>
	
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>
